<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ХелпИВР</title>
    <link rel="shortcut icon" href="/static/img/c.png" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
</head>
<body>
    <h3 class="h-back"><a href="/" class="hr-back"><i class="fas fa-arrow-circle-left"></i> Вернуться на страницу входа</a></h3>

    <form action="" method="post" name="Form">
        <h3 class="ver">Введите свою почту</h3>
        {% if message != "" %}
            <div class="warning-field">
                <i class="fas fa-exclamation-circle"></i>
                <p>
                    {{ message }}
                </p>
            </div>
        {% endif %}
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" name="email" placeholder="Ваша почта">
        </div>

        <input type="submit" value="Отправить письмо" name="btn" class="btn transparent" onclick="return validateForm()">
    </form>

    <script type="text/javascript">
        function validateForm() {
          var email = document.forms["Form"]["email"].value;
          if (email == null || email == "") {
              alert("Пожалуйста, введите почту");
              return false;
          }
          if (!validateEmail(email)) {
              alert("Пожалуйста, введите корректную почту");
              return false;
          }
        }
        
        function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    </script>
</body>
</html>